.popup {
  display: none;
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: opacity 0.4s, visibility 0.4s;

}

