.profile__edit {
  background-image: url("./../../../images/edit-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  transition: 0.6s;
  align-self: baseline;
  grid-column: 2;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;

  }
}
