.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-row: 1;
  grid-column: 1;
}

@media screen and (max-width: 950px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
