.popup__input-text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 0 auto;
  height: 27px;
  width: 100%;
  padding: 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 30px;
}

.popup__input-text:nth-of-type(1) {
  margin: 0;
}
