.profile__info {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 16px;
  align-items: baseline;
  align-self: center;
}


@media screen and (max-width: 950px) {
  .profile__info {
    gap: 8px;
  }
}
