.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto auto;
  gap: 16px 18px;
  align-items: baseline;
  align-self: center;
}


@media screen and (max-width: 950px) {
  .profile__info {
    gap: 14px 10px;
    grid-template-columns: calc(100% - 10px) 18px;
  }
}
