.footer__signature {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .footer__signature {
    font-size: 14px;
    line-height: 17px;
  }
}
