.profile__bio {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-row: 2;
  grid-column: 1;
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  .profile__bio {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column: 1/3;
  }
}
